.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .skill-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .skill-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }

  .skills-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 5;
    justify-content: center;
    padding: 10px 0;
  }

  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .skills-section {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
    }

    .skills-card {
      margin-bottom: 10px;
    }
  }
  
  